/* This file is for your main application css. */

@import "~milligram/dist/milligram";

/*.column {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
button {
  margin-left: 4px;
}

.row .column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px black solid;
  border-radius: 5vh;
  font-size: 5vh;
  padding: 0;
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 15vh;
}

.hidden-card {
  background-color: darkblue;
  color: white;
}

.shown-card {
  background-color: lightgrey;
  color: black;
}
